In [24]:
%matplotlib notebook
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('seaborn-talk')

In [25]:
plt.style.available

['seaborn-darkgrid',
 'Solarize_Light2',
 'seaborn-notebook',
 'classic',
 'seaborn-ticks',
 'grayscale',
 'bmh',
 'seaborn-talk',
 'dark_background',
 'ggplot',
 'fivethirtyeight',
 '_classic_test',
 'seaborn-colorblind',
 'seaborn-deep',
 'seaborn-whitegrid',
 'seaborn-bright',
 'seaborn-poster',
 'seaborn-muted',
 'seaborn-paper',
 'seaborn-white',
 'fast',
 'seaborn-pastel',
 'seaborn-dark',
 'tableau-colorblind10',
 'seaborn',
 'seaborn-dark-palette']

In [26]:
df = pd.read_csv("athletes.csv")
df.head()

,id,nationality,sex,date_of_birth,height,weight,sport,gold,silver,bronze
0,736041664,ESP,male,1969-10-17,1.72,64.0,athletics,0,0,0
1,532037425,KOR,female,1986-09-23,1.68,56.0,fencing,0,0,0
2,435962603,CAN,male,1992-05-27,1.98,79.0,athletics,0,0,1
3,521041435,MDA,male,1991-01-02,1.83,80.0,taekwondo,0,0,0
4,33922579,NZL,male,1990-11-26,1.81,71.0,cycling,0,0,0

In [31]:
top = df.groupby(['nationality'])[['gold'],['silver'],['bronze']].sum().sort_values('gold',ascending=False).head(10)
top

TypeError: unhashable type: 'list'